.container
  %h1 Stars
  %table#customers
    %tr
      %th Star
      %th Distance from the Earth
      %th
    - @stars.each do |x|
      %tr
        %td= x.name
        %td= "#{x.distance} lightyears"
        %td= button_to ("Select"), star_path(id: x.id), method: :get
